* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #151f28;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg);
}

.container ul {
  display: flex;
  position: relative;
  gap: 50px;
}

.container ul li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.container ul li::before {
  content: "";
  position: absolute;
  inset: 30px;
  box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
  transition: 0.5s;
}

.container ul li:hover:before {
  inset: 0;
}

.container ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: rotate(45deg);
}

.container ul li {
  z-index: 1000;
  transform: scale(0.75);
}

.container ul li a {
  position: relative;
  text-decoration: none;
  color: var(--clr);
  font-size: 1.5rem;
  transition: 0.5s;
  z-index: 10;
}

.container ul li a:hover {
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr))
    drop-shadow(0 0 60px var(--clr));
}

.midia_title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 5px;
  padding:10px;
}


.container footer {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;

}